
<div class="col-md-12"style="background-color: #4e73df;" >
   

    <br>
    <div class="card">
      <div class="card-body"> 
        <a class="sidebar" [routerLink]="['/home']"> <i class="fa fa-wrench" aria-hidden="true">&nbsp; Home</i></a><hr>     
         <a class="sidebar" [routerLink]="['/currency']"> <i class="fa fa-wrench" aria-hidden="true">&nbsp; Currency List</i></a><hr>
         <a class="sidebar" [routerLink]="['/language']"> <i class="fa fa-camera-retro" aria-hidden="true">&nbsp; Language List</i></a><hr>
       
        
      </div>
    </div>
    <br>
  </div>